.header {
    display: flex;
    justify-content: center;
    background-color: hsla(30, 12%, 94%, 0.396);
    border: 3px solid #e3dce2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .searchForm {
    display: flex;
    gap: 20px;
  }
  
  .searchInput {
    border-radius: 10px;
    width: 250px;
    padding: 8px;
    transition: border 300ms ease-out;
  }
  
  .searchInput:focus {
    border: 3px solid #f36c0b;
    outline: transparent;
  }
  
  .searchBtn {
    width: 100px;
    border: 3px solid #0ab991;
    background-color: transparent;
    color: #ffffff;
    font-size: 24px;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 300ms ease-out;
  }
  
  .searchBtn:hover,
  .searchBtn:focus {
    background-color: #0a984a;
  }